.productInfomain{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}




.productInfoClose{
    position: absolute;
    top: 0;
    right: 0;
}



.productInfoBody{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    align-content: space-around;
    flex-direction: column;
    font-size: 18px;
}

.productAmount{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    align-content: center;
}