<nav class="navbar navbar-expand-lg ">
  <div class=" nav-items">
    <p class="navbar-brand nav-title">My Store</p>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Product List</a>
        </li>

        <span class="border"></span>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart <i class="bi bi-cart4"></i></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
